<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-3level %c - %msg%n"/>
    </Console>
    <File name="File" fileName="c:\temp\logs\online.log">
      <PatternLayout>
        <!-- <pattern>%d %p %C [%t] %m%n</pattern> 
        <pattern>%d{HH:mm:ss.SSS} %p %C{1} [%t] %m%n</pattern> -->
        <pattern>%d{HH:mm:ss} %-5level [%t] %C{1} %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org" level="warn"/>
    <Logger name="io" level="warn"/>
    <Logger name="com" level="warn"/>
    <Logger name="spark" level="warn"/>
    <Logger name="in" level="debug"/>
    <Root level="debug">
      <!-- <AppenderRef ref="File"/>  -->
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>